body {
  font-family: sans-serif;
  max-width: 700px;
  margin: 2rem auto;
  background-color: #000;
  color: #fff;
}

h1 {
  margin-bottom: 0.5rem;
}

p {
  color: #ccc;
}

ul {
  padding-left: 1.2rem;
}

li {
  margin-bottom: 0.4rem;
}

a {
  color: #4da3ff;
  text-decoration: none;
}

a:hover {
  color: #82c4ff;
  text-decoration: underline;
}

a:visited {
  color: #4da3ff;
}
